.container {
	position: absolute;
	z-index: 1000;

	.cardContainer {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: flex-start;
		width: 400px;
		height: 200px;
		padding: 3rem;
		overflow-y: auto;
		background-color: #808080;

		.itemContainer {
			display: flex;
			justify-content: space-around;

			&__quantityController {
				display: flex;
				align-items: center;
			}
		}
	}
}
