.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	margin-top: 24px;
	background-color: #b8d7eb46;

	&__title {
		font-size: 8rem;
	}

	&__text {
		margin-bottom: 16px;
		font-size: 2rem;

	}

	.containerForm {
		display: flex;
		align-items: center;

		&__input {
			width: 300px;
			height: 42px;
			border: solid 1px #808080;
		}

		&__button {
			width: 100px;
			height: 42px;
			font-weight: 700;
			color: #fff;
			background-color: #3955d4;
			border: solid 2px #9999ad;
		}

	}
}