/* stylelint-disable selector-class-pattern */
.page_404 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 40px 0;
	font-family: sans-serif, serif;
	background: #fff;
}

.page_404 img {
	width: 100%;
}

.four_zero_four_bg {
	height: 600px;
	background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
	background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
	font-size: 80px;
	text-align: center;
}

.h2 {
	font-size: 80px;
	text-align: center;
}

.link_404 {
	display: inline-block;
	padding: 10px 20px;
	margin: 20px 0;
	color: #fff !important;
	background: #39ac31;
	border-radius: 8px;
}

.contant_box_404 {
	margin-top: -50px;
	font-size: 36px;
	text-align: center;
}